.red-font {
    color: red
}   
.darkred-font {
    color: darkred
}   

p {
    text-indent: 25px;
    text-align: justify;
}

/* Ikonoms */
p i {
    text-indent: 0;
    text-align: justify;
}
/*
p i:hover {
    color:#4c90ff;
}

p a:link {text-decoration: underline   !important;} 
*/

/* unvisited link */

a:visited {color:#404040} /* visited link */
a:hover {color:#4c90ff !important;} /* mouse over link */

.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}
 
 
 
.ok_justify {
/*color: #4F8A10; */
background-color: #cf967c;
border-radius:10px;
text-align: justify;
vertical-align: middle;
font-family:Arial, Helvetica, sans-serif;
padding:5px 0px 5px 20px;
} 
 
li {
    text-align: justify;
}

footer {
      position: absolute;
       bottom: 0;
       height: 0;
       border-top-width: 5px;
       border-top-style: solid;
       border-top-color: #704214;
       padding-bottom: 10px;

}




/* information boxes */


   
    
.info, .aim, .task, .ok, .note, .avoid, .error, .validation, .success { 
border: 5px solid;
border-radius:10px;
margin: 10 0;
padding:15px 30px 15px 50px;
font-family:Arial, Helvetica, sans-serif; 
font-size:13px;
text-align: justify;
vertical-align: middle;
background-repeat: no-repeat;
background-position: 10px center;
left:40%;
top:40%;
}

.info { /* blue */
color: #00529B;
background-color: #BDE5F8;
background-image: url('fig/icons/Knob_info.png');
}
.aim { /* blue */
color: #00529B;
background-color: #BDE5F8;
background-image: url('fig/icons/Knob_info.png');
}

.task { /* violet */
color: #400080;
background-color: #e6ccff;
background-image: url('fig/icons/Knob_task.png');
text-align: justify;
}

/* .exercise, .example, */
div.exercise {
    border: 5px solid;
    border-radius:10px;
    margin: 10 0;
    padding:15px 30px 15px 50px;
    font-family:Arial, Helvetica, sans-serif; 
    font-size:13px;
    text-align: justify;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 10px center;
    left:40%;
    top:40%;
    /* Code to personalize each type of box: */
	color: #400080;
    background-color: #e6ccff;
    background-image: url('fig/icons/Knob_task.png');
    text-align: justify;
}

.ok { /* green */
color: #4F6A10;
background-color: #DFF2BF;
background-image:url('fig/icons/Knob_success.png');
}

.note { /* orange */
color: #9F6000;
background-color: #FEEFB3;
background-image: url('fig/icons/Knob_attention.png');
}

.avoid { /* red */
color: #C8000C;
background-color: #FFCFCF;
background-image: url('fig/icons/Knob_error.png');
}
/* .success and  .error will be removed */
.success {
color: #4F6A10;
background-color: #DFF2BF;
background-image:url('fig/icons/Knob_success.png');
}

.error {
color: #C8000C;
background-color: #FFCFCF;
background-image: url('fig/icons/Knob_error.png');
}
/* ------------------------------------------------------ */
/* Fix theme elements */

/* 
Inherits background color for the box or code from the main theme
and avoids the stripe beneeth the box:
 */
div.sourceCode {
  background-color: inherit !important;
}


/* 
The other solution is a work-arround to remove bottom margin from 
the box with R code: 
*/
/* 
.book .book-body .page-wrapper .page-inner section.normal pre {
  margin-bottom: 0 !important;
}
*/

/* ------------------------------------------------------------------------- */

.black-frame {
    background-color: #9ecff7;
    padding: 10px; 
    display: inline-block;
}
